
<div class="table-school-list">
    <h2>{{'schoolList.schoolList' | translate}}</h2>
    <button class="btn btn-primary" [routerLink]="['/home/form-school']">{{'schoolList.addSchool' | translate}}</button>
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
      <input class="form-control" type="text" placeholder="Search for..." aria-label="Search" name="search" [(ngModel)]="searchSchool"/>
    </form>
    <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">{{'schoolList.id' | translate}}</th>
            <th scope="col">{{'schoolList.name' | translate}}</th>
            <th scope="col">{{'schoolList.image' | translate}}</th>
            <th scope="col">{{'schoolList.address' | translate}}</th>
            <th scope="col">{{'schoolList.president' | translate}}</th>
            <th scope="col">{{'schoolList.province' | translate}}</th>
            <th scope="col">{{'schoolList.detail' | translate}}</th>
            <!-- <th scope="col">Edit</th>
            <th scope="col">Delete</th> -->
            <th scope="col">{{'schoolList.listClass' | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let school of schools | filter:searchSchool">
              <td>{{school.id}}</td>
              <td>{{school.name}}</td>
              <td><img [src]="school.logo" width="130px" [alt]="school.name"></td>
              <td>{{school.address}}</td>
              <td>{{school.president}}</td>
              <td>{{school.province}}</td>
              <td><button class="btn btn-danger" [routerLink]="['/home/school-detail', school.id]">{{'schoolList.detail' | translate}}</button></td>
              <!-- <td><button class="btn btn-primary" [routerLink]="['/home/school-edit', school.id]">Sửa</button></td>
              <td><button class="btn btn-success" >Xóa</button></td> -->
              <td><button class="btn btn-primary" [routerLink]="['/home/class-list', school.id]">{{'schoolList.listClass' | translate}}</button></td>
          </tr>
        </tbody>
      </table>
</div>
