
<div class="table-school-list">
    <h3>{{'classList.classList' | translate}}</h3>

    <button class="btn btn-primary" [routerLink]="['/home/form-class', schoolId]">{{'classList.addClass' | translate}}</button>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">{{'classList.id' | translate}}</th>
            <th scope="col">{{'classList.schoolId' | translate}}</th>
            <th scope="col">{{'classList.name' | translate}}</th>
            <th scope="col">{{'classList.roomNumber' | translate}}</th>
            <th scope="col">{{'classList.totalStudent' | translate}}</th>
            <th scope="col">{{'classList.mainTeacher' | translate}}</th>
            <th scope="col">{{'classList.detail' | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let class of classes">
              <td>{{class.id}}</td>
              <td>{{class.schoolId}}</td>
              <td>{{class.name}}</td>
              <td>{{class.roomNumber}}</td>
              <td>{{class.totalStudent}}</td>
              <td>{{class.mainTeacher}}</td>
              <td><button class="btn btn-danger" [routerLink]="['./class-detail', class.id]">{{'classList.detail' | translate}}</button></td>
          </tr>
        </tbody>
      </table>
</div>
