<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['/home']">{{'layout.title' | translate}}</a><button class="btn btn-link btn-sm order-1 order-lg-0"
      id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button><!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
      <div class="input-group">
        <input class="form-control" type="hidden" placeholder="Search for..." aria-label="Search"
          aria-describedby="basic-addon2" />
        <div class="input-group-append">
          <button class="btnVi" type="button" (click)="switchLanguage('vn')"><img src="https://cdn.jsdelivr.net/gh/quanth0171998/quanthph08983-assignment@master/src/assets/image/vi.png"></button>&nbsp;
          <button class="btnEn" type="button" (click)="switchLanguage('en')"><img src="https://cdn.jsdelivr.net/gh/quanth0171998/quanthph08983-assignment@master/src/assets/image/en.png"></button>
        </div>
      </div>
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ml-auto ml-md-0">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
          <a class="dropdown-item" href="#">{{'layout.setting' | translate}}</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="login.html">{{'layout.login' | translate}}</a>
        </div>
      </li>
    </ul>
  </nav>