<div class="table-school-list">

    <h3>{{'schoolForm.title' | translate}}</h3>
    <form [formGroup]="schoolForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="exampleInputEmail1">{{'schoolList.name' | translate}}</label>
            <input type="text" class="form-control" formControlName="name">
        </div>
        <div class="col alert alert-danger" *ngIf="name.invalid && name.errors.required && name.touched">
            {{'validate.nameSchool' | translate}}
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">{{'schoolList.image' | translate}}</label>
            <input type="text" class="form-control" formControlName="logo">
        </div>
        <div class="col alert alert-danger" *ngIf="logo.invalid && logo.errors.required && logo.touched">
            {{'validate.logo' | translate}}
        </div>
        <div class="col alert alert-danger" *ngIf="logo.invalid && logo.errors.imageUrl && logo.touched">
            Không đúng định dạng logo
        </div>

        
        <div class="form-group">
            <label for="exampleInputPassword1">{{'schoolList.address' | translate}}</label>
            <input type="text" class="form-control" formControlName="address">
        </div>
        <div class="col alert alert-danger" *ngIf="address.invalid && address.errors.required && address.touched">
            {{'validate.address' | translate}}
        </div>

        <div class="form-group">
            <label for="exampleInputPassword1">{{'schoolList.president' | translate}}</label>
            <input type="text" class="form-control" formControlName="president">
        </div>
        <div class="col alert alert-danger" *ngIf="president.invalid && president.errors.required && president.touched">
            {{'validate.president' | translate}}
        </div>
        <div class="col alert alert-danger" *ngIf="president.invalid && president.errors.namePerson && president.touched">
            Tên hiệu trưởng không thể chứa số và kí tự đặc biệt
        </div>

        <div class="form-group">
            <label for="exampleInputPassword1">{{'schoolList.province' | translate}}</label>
            <input type="text" class="form-control" formControlName="province">
        </div>
        <div class="col alert alert-danger" *ngIf="province.invalid && province.errors.required && province.touched">
            {{'validate.province' | translate}}
        </div>

        <button [disabled]="!schoolForm.valid" type="submit" class="btn btn-primary" (click)="saveSchool()">{{'schoolForm.btnSave' | translate}}</button>&nbsp;
        <button class="btn btn-primary" (click)="reset()">{{'schoolForm.btnReset' | translate}}</button>
    </form>
</div>