/* Add application styles & imports to this file! */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
.table-school-list{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 30px;
}